
frontend/node_modules
frontend/.env
frontend/build

backend/__pycache__/
backend/.env
backend/venv/
backend/.pytest_cache/

*.log
docker-compose.override.yml

.DS_Store
*.pyc
*.pyo
*.pyd
__pycache__/

venv
